@font-face {
	font-family: Lato;
	src: url('/fonts/lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
	font-family: Noto;
	src: url('/fonts/noto_sans_display/static/NotoSansDisplay-Regular.ttf') format('truetype');
}

@font-face {
	font-family: Ubuntu;
	src: url('/fonts/ubuntu/UbuntuMono-Regular.ttf') format('truetype');
}

:root {
	font-family: 'Noto';
	--space: 20px;
	--font-size: 20px;
	--code-color: whitesmoke;
}
body {
  /* Default margin for larger screens */
	margin: 0vw 15vw 0vw 15vw;
	padding: 0vw 4vw 0vw 4vw;
}

/* Adjust margins for medium screens (e.g., tablets) */
@media (max-width: 1024px) {
	body {
		margin: 0vw 12vw 0vw 12vw;
		padding: 0vw 2vw 0vw 2vw;
  }
}

/* Adjust margins for smaller screens (e.g., phones) */
@media (max-width: 768px) {
	body {
		margin: 0vw 2vw 0vw 2vw;
		padding: 0vw 1vw 0vw 1vw;
  }
}

/* For very small screens */
@media (max-width: 480px) {
	body {
		margin: 0vw;
		padding: 1vw;
  }
}

#navbar {
	font-size: 30px;
	display: inline;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}/* 	/\* flex-direction: column; *\/ */
/* 	margin: var(--space) var(--space) var(--space) var(--space); */
/* 	padding: var(--space) var(--space) var(--space) var(--space); */
/* } */

#navbar li {
	display: inline-block;
	list-style: none;
	/* margin: var(--space) calc(var(--space) / 2) var(--space) var(--space); */
}

/* p { */
/* 	font-size: var(--font-size); */
/* } */

/* p code { */
/* 	background-color: var(--code-color); */
/* 	padding: calc(var(--space) / 4); */
/* } */

/* pre { */
/* 	background-color: var(--code-color); */
/* 	padding: calc(var(--space) / 2); */
/* 	overflow: scroll; */
/* } */

#publication h2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	font-size: 25px;
}

#publication ul {
	list-style-type: none;
}


/* code { */
/* 	font-family: 'Ubuntu'; */
/* 	overflow-x: scroll; */
/* 	overflow-y: hidden; */
/* } */

img {
	max-width: 100%;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: var(--space);
}
