html{
    display: block;
    padding: 16px;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

h1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

img.logo{
    display: inline-flex;
}

span.page-title{
    display: inline-flex;
    padding: 16px;
    font-size: 20px;
}

body{
    background-color: white;
    max-width: 800px;
    margin: 0 auto;
}

p{
    font-size: 14px;
}

h2{
    font-size: 19px;
}

h3{
    display: block;
    height: 1.5em;
    color: black;
    background-color: whitesmoke;
    font-size: 18px;
}

ul{
    list-style: none;
    font-size: 14px;
}

ol{
    font-size: 14px;
}

strong{
    color: rgba(71, 71, 71, 0.904);
    font-size: 16px;
}

li{
    line-height: 1.5em;
    font-size: 14px;
}

footer{
    display: flex;
    justify-content: center;
    padding: 1em;
    background-color: whitesmoke;
    color: black;
    width: 100%;
}

/*nav.link pseudo-selectors*/
a.logo{
    text-decoration: none;
}
a.logo:hover{
    background-color: white;

}nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul li a.nav:hover{
    background-color: #ccc;
    border-radius: 5px;
    transition: all 1s ease-out;
}
nav ul li a.logo:hover{
    background-color: white;
}

nav ul li a.title:hover{
    background-color: white;
}

#orange:hover{
    color: rgba(248, 175, 66, 0.904);
    transition: all 1s ease-out;
}

#blue:hover{
    color: rgb(1, 139, 252);
    transition: all 1s ease-out;
}

code{
    font-family: 'Roboto', sans-serif;
    Color: black;
}